@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Roboto;
    color: white;
    background-color: #151D3D
}

.main {
    background-color: rgb(255, 255, 255);
    background-image: radial-gradient(at 5% 70%, #EFE6EC 0px, transparent 50%), radial-gradient(at 47% 40%, #FDF2EC 0px, transparent 50%), radial-gradient(at 73% 3%, #EFE6EC 0px, transparent 50%), radial-gradient(at 44% 13%, #FDF2EC 0px, transparent 50%), radial-gradient(at 61% 70%, #E6EBE0 0px, transparent 50%), radial-gradient(at 32% 81%, #FDF2EC 0px, transparent 50%), radial-gradient(at 19% 39%, #FDF2EC 0px, transparent 50%);
}

#main-page {}

.hidden-scroll::-webkit-scrollbar {
    width: 0px;
}

.hidden-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.hidden-scroll::-webkit-scrollbar-button,
body:not(._native-scrollbars) *::-webkit-scrollbar-corner {
    display: none;
}

.hidden-scroll::-webkit-scrollbar-button,
body:not(._native-scrollbars) *::-webkit-scrollbar-corner {
    display: none;
}

.hidden-scroll::-webkit-scrollbar-thumb {
    border-width: 0px;
}

.hidden-scrol::-webkit-scrollbar-thumb {
    border-radius: 0px;
}

.aside::-webkit-scrollbar-track {
    /* background: white; */
    border: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
    border: 0px
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important
}

.swiper-pagination-bullet-active {
    background-color: white !important;
}

.swiper-pagination-horizontal {
    position: absolute;
    top: 4rem !important;
}

.jdUExL {
    width: 100%;
    height: auto;
    background: #082f77;
    border-radius: 16px;
    margin: -56px auto 80px;
    padding: 16px;
    gap: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: .3s ease-in-out
}

.kzvRPt {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-bottom: 10px
}

.gpmDQv {
    font-family: Inter;
    margin: 0;
    font-feature-settings: "clig" 0, "liga" 0;
    font-style: normal;
    color: #f7f8fa;
    font-size: 18px;
    font-weight: 700;
    line-height: 160%
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth
}

.iWLPqr {
    font-family: Inter;
    margin: 0;
    color: #f7f8fa;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%
}

@media (min-width:768px) {
    .jdUExL {
        padding: 64px 128px;
        margin-bottom: 200px;
        margin-top: -170px;
        /* background-image: url("/_next/static/images/picture_table_minified-e4d0bb2b16fefee7a9a7e9ca8b140b63.png"); */
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        background-color: #062a73
    }

    .gpmDQv {
        font-size: 24px;
        line-height: 140%;
        font-weight: 600
    }
}


@keyframes wing-one {
    0% {
        transform: rotate(0deg);
    }

    51% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes wing-two {
    0% {
        transform: rotate(0deg);
    }

    51% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#wing-one {
    animation: wing-one 3s ease-in-out 0s infinite normal none;
}

#wing-two {
    animation: wing-two 4s ease-in-out 0s infinite normal none;
}

@keyframes yourAnimation {
    0% {
        transform: translate(-200%, 0%);
    }

    15% {
        transform: translate(-100%, -20%);
    }

    36% {
        transform: translate(0%, 20%);
    }

    56% {
        transform: translate(100%, -20%);
    }

    73% {
        transform: translate(150%, 20%);
    }

    87% {
        transform: translate(200%, -20%);
    }

    100% {
        transform: translate(250%, 0%);
    }
}

@keyframes yourAnimation2 {
    0% {
        transform: translate(150%, 0%);
    }

    15% {
        transform: translate(100%, -20%);
    }

    36% {
        transform: translate(50%, 20%);
    }

    56% {
        transform: translate(0%, -20%);
    }

    73% {
        transform: translate(-50%, 20%);
    }

    87% {
        transform: translate(-100%, -20%);
    }

    100% {
        transform: translate(-150%, 0%);
    }
}

#whole {
    animation: yourAnimation 5s linear 0s infinite normal none;
}

#whole2 {
    animation: yourAnimation2 10s linear 0s infinite normal none;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotate-center {
    -webkit-animation: rotate-center 4s ease-in-out infinite both;
    animation: rotate-center 4s ease-in-out infinite both;
}

.rotate-center-r {
    -webkit-animation: rotate-center 4s ease-in-out infinite reverse both;
    animation: rotate-center 4s ease-in-out infinite reverse both;
}

.canvas {
    height: 100%;
    width: 100vw;
    background: linear-gradient(to bottom, #edfffa 0%, #31c5d6 100%);
    position: absolute;
    overflow: hidden;
}

.bubble {
    display: block;
    border-radius: 100%;
    opacity: 0.8;
    position: absolute;
}

.bubble:nth-child(1) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 37px;
    height: 37px;
    left: 94vw;
    bottom: 49vh;
    -webkit-animation: move1 infinite 5s;
    animation: move1 infinite 5s;
}

@-webkit-keyframes move1 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 6vh;
        transform: translate(146px, 0);
        opacity: 0;
    }
}

@keyframes move1 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 6vh;
        transform: translate(146px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(2) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 60px;
    height: 60px;
    left: 22vw;
    bottom: 13vh;
    -webkit-animation: move2 infinite 5s;
    animation: move2 infinite 5s;
}

@-webkit-keyframes move2 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 40vh;
        transform: translate(163px, 0);
        opacity: 0;
    }
}

@keyframes move2 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 40vh;
        transform: translate(163px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(3) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 100px;
    height: 100px;
    left: 99vw;
    bottom: 43vh;
    -webkit-animation: move3 infinite 10s;
    animation: move3 infinite 10s;
}

@-webkit-keyframes move3 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 38vh;
        transform: translate(-69px, 0);
        opacity: 0;
    }
}

@keyframes move3 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 38vh;
        transform: translate(-69px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(4) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 35px;
    height: 35px;
    left: 96vw;
    bottom: 92vh;
    -webkit-animation: move4 infinite 14s;
    animation: move4 infinite 14s;
}

@-webkit-keyframes move4 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 9vh;
        transform: translate(-44px, 0);
        opacity: 0;
    }
}

@keyframes move4 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 9vh;
        transform: translate(-44px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(5) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 59px;
    height: 59px;
    left: 20vw;
    bottom: 97vh;
    -webkit-animation: move5 infinite 6s;
    animation: move5 infinite 6s;
}

@-webkit-keyframes move5 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 49vh;
        transform: translate(127px, 0);
        opacity: 0;
    }
}

@keyframes move5 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 49vh;
        transform: translate(127px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(6) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 35px;
    height: 35px;
    left: 49vw;
    bottom: 12vh;
    -webkit-animation: move6 infinite 14s;
    animation: move6 infinite 14s;
}

@-webkit-keyframes move6 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 8vh;
        transform: translate(-46px, 0);
        opacity: 0;
    }
}

@keyframes move6 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 8vh;
        transform: translate(-46px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(7) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 75px;
    height: 75px;
    left: 4vw;
    bottom: 50vh;
    -webkit-animation: move7 infinite 10s;
    animation: move7 infinite 10s;
}

@-webkit-keyframes move7 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 42vh;
        transform: translate(20px, 0);
        opacity: 0;
    }
}

@keyframes move7 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 42vh;
        transform: translate(20px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(8) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 14px;
    height: 14px;
    left: 50vw;
    bottom: 62vh;
    -webkit-animation: move8 infinite 12s;
    animation: move8 infinite 12s;
}

@-webkit-keyframes move8 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 28vh;
        transform: translate(103px, 0);
        opacity: 0;
    }
}

@keyframes move8 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 28vh;
        transform: translate(103px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(9) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 78px;
    height: 78px;
    left: 51vw;
    bottom: 57vh;
    -webkit-animation: move9 infinite 10s;
    animation: move9 infinite 10s;
}

@-webkit-keyframes move9 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 47vh;
        transform: translate(1px, 0);
        opacity: 0;
    }
}

@keyframes move9 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 47vh;
        transform: translate(1px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(10) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 11px;
    height: 11px;
    left: 24vw;
    bottom: 91vh;
    -webkit-animation: move10 infinite 8s;
    animation: move10 infinite 8s;
}

@-webkit-keyframes move10 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 95vh;
        transform: translate(41px, 0);
        opacity: 0;
    }
}

@keyframes move10 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 95vh;
        transform: translate(41px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(11) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 8px;
    height: 8px;
    left: 77vw;
    bottom: 30vh;
    -webkit-animation: move11 infinite 15s;
    animation: move11 infinite 15s;
}

@-webkit-keyframes move11 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 54vh;
        transform: translate(53px, 0);
        opacity: 0;
    }
}

@keyframes move11 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 54vh;
        transform: translate(53px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(12) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 74px;
    height: 74px;
    left: 49vw;
    bottom: 23vh;
    -webkit-animation: move12 infinite 3s;
    animation: move12 infinite 3s;
}

@-webkit-keyframes move12 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 77vh;
        transform: translate(30px, 0);
        opacity: 0;
    }
}

@keyframes move12 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 77vh;
        transform: translate(30px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(13) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 26px;
    height: 26px;
    left: 96vw;
    bottom: 67vh;
    -webkit-animation: move13 infinite 11s;
    animation: move13 infinite 11s;
}

@-webkit-keyframes move13 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 32vh;
        transform: translate(34px, 0);
        opacity: 0;
    }
}

@keyframes move13 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 32vh;
        transform: translate(34px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(14) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 18px;
    height: 18px;
    left: 60vw;
    bottom: 39vh;
    -webkit-animation: move14 infinite 6s;
    animation: move14 infinite 6s;
}

@-webkit-keyframes move14 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 10vh;
        transform: translate(141px, 0);
        opacity: 0;
    }
}

@keyframes move14 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 10vh;
        transform: translate(141px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(15) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 12px;
    height: 12px;
    left: 91vw;
    bottom: 71vh;
    -webkit-animation: move15 infinite 15s;
    animation: move15 infinite 15s;
}

@-webkit-keyframes move15 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 82vh;
        transform: translate(170px, 0);
        opacity: 0;
    }
}

@keyframes move15 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 82vh;
        transform: translate(170px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(16) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 97px;
    height: 97px;
    left: 89vw;
    bottom: 2vh;
    -webkit-animation: move16 infinite 13s;
    animation: move16 infinite 13s;
}

@-webkit-keyframes move16 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 20vh;
        transform: translate(164px, 0);
        opacity: 0;
    }
}

@keyframes move16 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 20vh;
        transform: translate(164px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(17) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 82px;
    height: 82px;
    left: 77vw;
    bottom: 54vh;
    -webkit-animation: move17 infinite 4s;
    animation: move17 infinite 4s;
}

@-webkit-keyframes move17 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 44vh;
        transform: translate(-45px, 0);
        opacity: 0;
    }
}

@keyframes move17 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 44vh;
        transform: translate(-45px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(18) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 53px;
    height: 53px;
    left: 6vw;
    bottom: 30vh;
    -webkit-animation: move18 infinite 3s;
    animation: move18 infinite 3s;
}

@-webkit-keyframes move18 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 39vh;
        transform: translate(130px, 0);
        opacity: 0;
    }
}

@keyframes move18 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 39vh;
        transform: translate(130px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(19) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 52px;
    height: 52px;
    left: 32vw;
    bottom: 56vh;
    -webkit-animation: move19 infinite 9s;
    animation: move19 infinite 9s;
}

@-webkit-keyframes move19 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 45vh;
        transform: translate(-79px, 0);
        opacity: 0;
    }
}

@keyframes move19 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 45vh;
        transform: translate(-79px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(20) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 65px;
    height: 65px;
    left: 34vw;
    bottom: 39vh;
    -webkit-animation: move20 infinite 7s;
    animation: move20 infinite 7s;
}

@-webkit-keyframes move20 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 83vh;
        transform: translate(43px, 0);
        opacity: 0;
    }
}

@keyframes move20 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 83vh;
        transform: translate(43px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(21) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 7px;
    height: 7px;
    left: 52vw;
    bottom: 64vh;
    -webkit-animation: move21 infinite 13s;
    animation: move21 infinite 13s;
}

@-webkit-keyframes move21 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 20vh;
        transform: translate(9px, 0);
        opacity: 0;
    }
}

@keyframes move21 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 20vh;
        transform: translate(9px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(22) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 54px;
    height: 54px;
    left: 9vw;
    bottom: 50vh;
    -webkit-animation: move22 infinite 15s;
    animation: move22 infinite 15s;
}

@-webkit-keyframes move22 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 97vh;
        transform: translate(91px, 0);
        opacity: 0;
    }
}

@keyframes move22 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 97vh;
        transform: translate(91px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(23) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 86px;
    height: 86px;
    left: 26vw;
    bottom: 8vh;
    -webkit-animation: move23 infinite 10s;
    animation: move23 infinite 10s;
}

@-webkit-keyframes move23 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 43vh;
        transform: translate(155px, 0);
        opacity: 0;
    }
}

@keyframes move23 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 43vh;
        transform: translate(155px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(24) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 99px;
    height: 99px;
    left: 78vw;
    bottom: 68vh;
    -webkit-animation: move24 infinite 7s;
    animation: move24 infinite 7s;
}

@-webkit-keyframes move24 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 68vh;
        transform: translate(153px, 0);
        opacity: 0;
    }
}

@keyframes move24 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 68vh;
        transform: translate(153px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(25) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 75px;
    height: 75px;
    left: 45vw;
    bottom: 68vh;
    -webkit-animation: move25 infinite 9s;
    animation: move25 infinite 9s;
}

@-webkit-keyframes move25 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 19vh;
        transform: translate(87px, 0);
        opacity: 0;
    }
}

@keyframes move25 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 19vh;
        transform: translate(87px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(26) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 27px;
    height: 27px;
    left: 11vw;
    bottom: 54vh;
    -webkit-animation: move26 infinite 15s;
    animation: move26 infinite 15s;
}

@-webkit-keyframes move26 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 44vh;
        transform: translate(-93px, 0);
        opacity: 0;
    }
}

@keyframes move26 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 44vh;
        transform: translate(-93px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(27) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 98px;
    height: 98px;
    left: 77vw;
    bottom: 57vh;
    -webkit-animation: move27 infinite 12s;
    animation: move27 infinite 12s;
}

@-webkit-keyframes move27 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 59vh;
        transform: translate(-84px, 0);
        opacity: 0;
    }
}

@keyframes move27 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 59vh;
        transform: translate(-84px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(28) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 33px;
    height: 33px;
    left: 24vw;
    bottom: 13vh;
    -webkit-animation: move28 infinite 14s;
    animation: move28 infinite 14s;
}

@-webkit-keyframes move28 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 9vh;
        transform: translate(-88px, 0);
        opacity: 0;
    }
}

@keyframes move28 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 9vh;
        transform: translate(-88px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(29) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 68px;
    height: 68px;
    left: 28vw;
    bottom: 23vh;
    -webkit-animation: move29 infinite 10s;
    animation: move29 infinite 10s;
}

@-webkit-keyframes move29 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 96vh;
        transform: translate(-3px, 0);
        opacity: 0;
    }
}

@keyframes move29 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 96vh;
        transform: translate(-3px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(30) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 62px;
    height: 62px;
    left: 2vw;
    bottom: 29vh;
    -webkit-animation: move30 infinite 14s;
    animation: move30 infinite 14s;
}

@-webkit-keyframes move30 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 6vh;
        transform: translate(93px, 0);
        opacity: 0;
    }
}

@keyframes move30 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 6vh;
        transform: translate(93px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(31) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 33px;
    height: 33px;
    left: 12vw;
    bottom: 48vh;
    -webkit-animation: move31 infinite 7s;
    animation: move31 infinite 7s;
}

@-webkit-keyframes move31 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 77vh;
        transform: translate(27px, 0);
        opacity: 0;
    }
}

@keyframes move31 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 77vh;
        transform: translate(27px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(32) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 31px;
    height: 31px;
    left: 45vw;
    bottom: 22vh;
    -webkit-animation: move32 infinite 10s;
    animation: move32 infinite 10s;
}

@-webkit-keyframes move32 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 45vh;
        transform: translate(-66px, 0);
        opacity: 0;
    }
}

@keyframes move32 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 45vh;
        transform: translate(-66px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(33) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 27px;
    height: 27px;
    left: 25vw;
    bottom: 6vh;
    -webkit-animation: move33 infinite 4s;
    animation: move33 infinite 4s;
}

@-webkit-keyframes move33 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 73vh;
        transform: translate(104px, 0);
        opacity: 0;
    }
}

@keyframes move33 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 73vh;
        transform: translate(104px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(34) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 41px;
    height: 41px;
    left: 85vw;
    bottom: 100vh;
    -webkit-animation: move34 infinite 15s;
    animation: move34 infinite 15s;
}

@-webkit-keyframes move34 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 50vh;
        transform: translate(37px, 0);
        opacity: 0;
    }
}

@keyframes move34 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 50vh;
        transform: translate(37px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(35) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 22px;
    height: 22px;
    left: 8vw;
    bottom: 28vh;
    -webkit-animation: move35 infinite 9s;
    animation: move35 infinite 9s;
}

@-webkit-keyframes move35 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 25vh;
        transform: translate(5px, 0);
        opacity: 0;
    }
}

@keyframes move35 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 25vh;
        transform: translate(5px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(36) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 41px;
    height: 41px;
    left: 14vw;
    bottom: 1vh;
    -webkit-animation: move36 infinite 3s;
    animation: move36 infinite 3s;
}

@-webkit-keyframes move36 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 63vh;
        transform: translate(43px, 0);
        opacity: 0;
    }
}

@keyframes move36 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 63vh;
        transform: translate(43px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(37) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 47px;
    height: 47px;
    left: 68vw;
    bottom: 66vh;
    -webkit-animation: move37 infinite 13s;
    animation: move37 infinite 13s;
}

@-webkit-keyframes move37 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 59vh;
        transform: translate(-17px, 0);
        opacity: 0;
    }
}

@keyframes move37 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 59vh;
        transform: translate(-17px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(38) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 60px;
    height: 60px;
    left: 38vw;
    bottom: 56vh;
    -webkit-animation: move38 infinite 3s;
    animation: move38 infinite 3s;
}

@-webkit-keyframes move38 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 51vh;
        transform: translate(151px, 0);
        opacity: 0;
    }
}

@keyframes move38 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 51vh;
        transform: translate(151px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(39) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 34px;
    height: 34px;
    left: 72vw;
    bottom: 84vh;
    -webkit-animation: move39 infinite 4s;
    animation: move39 infinite 4s;
}

@-webkit-keyframes move39 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 83vh;
        transform: translate(80px, 0);
        opacity: 0;
    }
}

@keyframes move39 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 83vh;
        transform: translate(80px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(40) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 82px;
    height: 82px;
    left: 88vw;
    bottom: 9vh;
    -webkit-animation: move40 infinite 12s;
    animation: move40 infinite 12s;
}

@-webkit-keyframes move40 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 89vh;
        transform: translate(14px, 0);
        opacity: 0;
    }
}

@keyframes move40 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 89vh;
        transform: translate(14px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(41) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 96px;
    height: 96px;
    left: 64vw;
    bottom: 85vh;
    -webkit-animation: move41 infinite 12s;
    animation: move41 infinite 12s;
}

@-webkit-keyframes move41 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 45vh;
        transform: translate(73px, 0);
        opacity: 0;
    }
}

@keyframes move41 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 45vh;
        transform: translate(73px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(42) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 47px;
    height: 47px;
    left: 37vw;
    bottom: 74vh;
    -webkit-animation: move42 infinite 5s;
    animation: move42 infinite 5s;
}

@-webkit-keyframes move42 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 10vh;
        transform: translate(-21px, 0);
        opacity: 0;
    }
}

@keyframes move42 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 10vh;
        transform: translate(-21px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(43) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 56px;
    height: 56px;
    left: 64vw;
    bottom: 44vh;
    -webkit-animation: move43 infinite 13s;
    animation: move43 infinite 13s;
}

@-webkit-keyframes move43 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 91vh;
        transform: translate(46px, 0);
        opacity: 0;
    }
}

@keyframes move43 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 91vh;
        transform: translate(46px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(44) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 63px;
    height: 63px;
    left: 17vw;
    bottom: 32vh;
    -webkit-animation: move44 infinite 5s;
    animation: move44 infinite 5s;
}

@-webkit-keyframes move44 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 4vh;
        transform: translate(-34px, 0);
        opacity: 0;
    }
}

@keyframes move44 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 4vh;
        transform: translate(-34px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(45) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 34px;
    height: 34px;
    left: 64vw;
    bottom: 64vh;
    -webkit-animation: move45 infinite 10s;
    animation: move45 infinite 10s;
}

@-webkit-keyframes move45 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 55vh;
        transform: translate(160px, 0);
        opacity: 0;
    }
}

@keyframes move45 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 55vh;
        transform: translate(160px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(46) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 29px;
    height: 29px;
    left: 39vw;
    bottom: 78vh;
    -webkit-animation: move46 infinite 15s;
    animation: move46 infinite 15s;
}

@-webkit-keyframes move46 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 62vh;
        transform: translate(63px, 0);
        opacity: 0;
    }
}

@keyframes move46 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 62vh;
        transform: translate(63px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(47) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 13px;
    height: 13px;
    left: 45vw;
    bottom: 46vh;
    -webkit-animation: move47 infinite 13s;
    animation: move47 infinite 13s;
}

@-webkit-keyframes move47 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 22vh;
        transform: translate(186px, 0);
        opacity: 0;
    }
}

@keyframes move47 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 22vh;
        transform: translate(186px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(48) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 13px;
    height: 13px;
    left: 7vw;
    bottom: 2vh;
    -webkit-animation: move48 infinite 13s;
    animation: move48 infinite 13s;
}

@-webkit-keyframes move48 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 1vh;
        transform: translate(100px, 0);
        opacity: 0;
    }
}

@keyframes move48 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 1vh;
        transform: translate(100px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(49) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 36px;
    height: 36px;
    left: 13vw;
    bottom: 66vh;
    -webkit-animation: move49 infinite 7s;
    animation: move49 infinite 7s;
}

@-webkit-keyframes move49 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 87vh;
        transform: translate(89px, 0);
        opacity: 0;
    }
}

@keyframes move49 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 87vh;
        transform: translate(89px, 0);
        opacity: 0;
    }
}

.bubble:nth-child(50) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 73px;
    height: 73px;
    left: 56vw;
    bottom: 53vh;
    -webkit-animation: move50 infinite 6s;
    animation: move50 infinite 6s;
}

@-webkit-keyframes move50 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 18vh;
        transform: translate(-2px, 0);
        opacity: 0;
    }
}

@keyframes move50 {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 18vh;
        transform: translate(-2px, 0);
        opacity: 0;
    }
}